.toolbar {
  min-height: 60px;
  align-items: "flex-start";
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-self: center;
}

.logo {
  align-self: center;
  margin-right: 5%;
}

.cl1 {
  margin: 0 40% 20% 0 !important;
}

.cl2 {
  position: absolute !important;
  margin: 20% 0 0 50% !important;
}
